
.content {
  height: 100vh;
  width: 100vw;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.callToAction {
  height: 200px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.buttonPrimary {
  background-color: var(--accent-color);
  width: 12rem;
  border: none;
  color: #00091a;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttonPrimary:hover {
  transform: scale(1.1);
}

.buttonSecondary {
  background-color: #00091a;
  width: 12rem;
  border: 1px solid #e4e4e4;
  color: #e4e4e4;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 32px;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.buttonSecondary:hover {
  background-color: rgba(255, 255, 255, 0.219);
  transform: scale(1.1);
}